* {
    font-family: sans-serif;
}




#quadrado {
    background-color: #f6f1e9;

    height: 100px;
    width: 100px;
}

.navbar {
    display: flex;
    color: white;
    background-color: #f6f1e9;
    justify-content: space-between;
}

#h1-pontos {
    margin-left: 10px;
}

#h1-dificuldade {
    background-color: #f6f1e9;
}

.btn-dificuldade {
    height: 100%;
    width: 100px;
    font-size: 20px;
}